<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link type="text/css" th:href="@{/mystyle.css}" rel="stylesheet"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>

    <title>Maven + Spring MVC + @JavaConfig</title>


    <script type="text/javascript">
        function doAjaxPostPerson() {
            //get the form values
            var firstName = $('#firstName').val();
            var lastname = $('#lastname').val();
            var pcontacts = [];


            $("li").each(function (index) {
                var tempType = $(this).find("input.contactType").val();
                var tempContact = $(this).find("input.contactValue").val();
                var box = {
                    type: tempType,
                    value: tempContact
                };
                pcontacts.push(box);
            });

            $.ajax({
                        type: "POST",
                        //url: "http://localhost:8080/app/rest/person/add",
                        url: "/rest/person/add",
                        data: JSON.stringify({
                            firstName: firstName,
                            lastname: lastname,
                            contacts: pcontacts
                        }),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        //dataType: 'json',
                        success: function (response) {
                            //we have response
                            $('#info').html(response);
                            $('#firstName').val('');
                            $('#lastname').val('');
                            alert('Person was added');
                        },
                        error: function (data) {
                            alert('Error: ' + data);
                        }
                    }
            );
        }
    </script>

    <script type="text/javascript">
        function showContactForm() {
            var row = "<br/>" + "<div>" +
                    "<div>" + 'Type: <input type="text" class="contactType"/>' + "</div>" +
                    "<div>" + 'Value: <input type="text" class="contactValue"/>' + "</div>" +
                    "</div>";
            var allRow = "<li>" + row + "</li>";
            $(".lOfPeople").append(allRow);
        }
    </script>
</head>
<body>
<div class="col-md-10 col-xs-offset-1">
    <h1>Add Person using Ajax</h1>
    <br/><input type="button" value="Add Users" onclick="doAjaxPostPerson()"/>
    <table class="contactForm">
        <tr>
            <td>Enter your name:</td>
            <td><input type="text" id="firstName"/></td>
        </tr>
        <br/>
        <tr>
            <td>Enter your lastName:</td>
            <td><input type="text" id="lastname"/></td>
        </tr>
        <br/>

        <tr>

            <td>Confirm</td>

            <td colspan="2"><input type="button" value="Add Users" onclick="doAjaxPostPerson()"/><br/></td>

        </tr>
        <tr>
            <td>Kontakty</td>
            <td><input type="button" value="Show form" onclick="showContactForm()"/></td>
        </tr>
        <tr>
            <td>
                <ul class="lOfPeople">

                </ul>
            </td>
        </tr>
    </table>
    <br/>
    All People
    <button id="refreshPeople" class="btn btn-default" type="submit">Refresh</button>

    <div class="people">
        <div class="data-person-js table divTable" id="tabPeople">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">Id</div>
                    <div class="divTableCell">Name</div>
                    <div class="divTableCell">Lastname</div>
                    <div class="divTableCell">Kontakty</div>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            $("#refreshPeople").bind("click", function () {
                $('#tabPeople tbody').html('');

//                $(this).ready(function(){
//                    $(d).attr('class','divTableCell');

                $.get("http://localhost:8080/rest/person/all", function (data) {
                    $.each(data, function (i, person) {
                        var tempContacts = person.contacts;
                        var row = "<div class='divTableRow'>" +
                                "<div class='divTableCell'>" + person.id + "</div>" +
                                "<div class='divTableCell'>" + person.firstName + "</div>" +
                                "<div class='divTableCell'>" + person.lastname + "</div>" +
                                "<div class='divTableCell'>" + person.contacts + "</div>" +
                                "</div>";
                        $(".data-person-js").append(row);
                    });
                });
            });
            /*]]>*/
        </script>
    </div>
    <br/>
</div>
</body>
</html>
